<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=0.5, maximum-scale=2.0, user-scalable=yes" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="format-detection" content="email=no" />
    <meta name="apple-mobile-web-app-title" content="咔嚓美拍"/>
    <meta http-equiv="pragma" content="no-cache"/>
    <meta http-equiv="cache-control" content="no-cache"/>
    <meta http-equiv="expires" content="0"/>
    <script th:src="@{/js/jquery-1.8.3.min.js}"></script>
    <script th:src="@{/js/detail.js}"></script>
    <link rel="stylesheet" th:href="@{/css/detail.css}" />
    <link rel="stylesheet" th:href="@{/css/common.css}" />

</head>

<body class="body">


<div id="login_box" class="login_box" th:switch = "${user}!= null">
    <div id="return_login_link"  class="return_login_link">&lt; 返回</div>
    <div th:case="true" class="detail_login_link" th:text = "'您好！ '+${user.familyName}+${gender}"></div>
    <div th:case="false" id="detail_login_link"  class="detail_login_link">登录</div>
</div>


<div id="content_box" class="content_box" >
    <div id="item_box" class="item_box" >
        <div class="item_title" th:if="${commodity.commodityName}!=null" th:text="${commodity.commodityName}"></div>

        <div id="shop_detail_box" class="shop_detail_box">
            <div class="shop_detail" th:text="'商家：'+ ${commodity.shopName}"></div>
            <div class="shop_detail" th:text="'位置：'+ ${commodity.location}"></div>
            <div class="shop_detail" th:text="'截止时间：'+ ${commodity.deadline}"></div>
        </div>

        <div id="condition_box" class="condition_box">
            <div id="condition_num" class="condition_num" th:text="${commodity.leastBuyerCount}+'人发团 已团'+ ${commodity.buyerCount}+'人'"></div>
        </div>

        <div th:each="item_img:${commodity.srcList}" >
            <img class="item_img" th:src="${item_img}"/>
        </div>

    </div>
</div>
<div class="buttom_container_detail">
    <div class="buttom_box_detail">
        <div th:switch = "${commodity.orderStatus}>0">
            <div th:case="true" class="share_box">
                <div class="share_box_text">分享下单立减100 无限叠加</div>
            </div>
        </div>
        <div id="price_box" class="price_box" >
            <div id="price_mark" class="price_mark" >￥</div>
            <div id="price_cur" class="price_cur" th:text="${commodity.priceCur}"></div>
            <div id="price_old" class="price_old" th:text="${commodity.priceLine}"></div>
        </div>
        <div id="button_box" class="button_box" >
            <div id="r_button_box" class="r_button_box" >
                <div id="r_button" class="r_button" >菜单</div>
            </div>
            <!--<div id="l_button_box" class="l_button_box" >-->
                <!--<div id="l_button" class="l_button" th:attr="itemId=${commodity.commodityId}" >拼团</div>-->
            <!--</div>-->
            <div class="l_button_box" th:switch = "${commodity.orderStatus}>0">
                <div th:case="true" class="l_button">已团</div>
                <div th:case="false" class="l_button" th:attr="itemId=${commodity.commodityId}">拼团</div>
            </div>
        </div>
    </div>
</div>

<div id="login_input_bg" class="login_input_bg"></div>
<div id="login_input_box" class="login_input_box">
    <div class="input_cross_mark" id="input_cross_mark" >×</div>
    <div id="input_box" class="input_box">
        <div  class="input_line_box">
            <div class="input_name_line">
                <div  class="input_name_word">电话</div>
                <div class="input_star_mark">*</div>
            </div>
            <input id="phone_input_line" class="input_line"/>
        </div>
        <div  class="input_line_box">
            <div  class="input_name_line">
                <div class="input_name_word">姓</div>
                <div class="input_star_mark">*</div>
            </div>
            <input id="family_name_input" class="input_line"/>
        </div>
        <div  class="input_line_box">
            <div  class="input_name_line">
                <div class="input_name_word">名</div>
            </div>
            <input id="given_name_input" class="input_line"/>
        </div>
        <div  class="input_line_box">
            <div  class="input_name_line">
                <div class="input_name_word">性别</div>
                <div class="input_star_mark">*</div>
            </div>
            <div class="input_line">
                <input type="radio" value="1" class="radio_text_line" id="gender_male_radio" name="gender_radio"/>
                <div class="radio_dot_line">先生</div>
                <input type="radio" checked value="2" class="radio_text_line" id="gender_female_radio" name="gender_radio"/>
                <div class="radio_dot_line">女士</div>
            </div>
        </div>
    </div>
    <div class="login_button_box" id="login_button_box">免注册登录</div>
    <div class="login_button_comment" >登录后将显示您的团购订单</div>
</div>

<div class="sign_input_box" id="sign_input_box">
    <div class="sign_cross_mark" id="sign_cross_mark" >×</div>
    <div id="sign_box" class="sign_box">
        <div  class="input_line_box">
            <div class="input_name_line">
                <div  class="input_name_word">电话</div>
                <div class="input_star_mark">*</div>
            </div>
            <input id="phone_sign_line" class="input_line"/>
        </div>
        <div  class="input_line_box">
            <div  class="input_name_line">
                <div class="input_name_word">姓</div>
                <div class="input_star_mark">*</div>
            </div>
            <input id="family_name_sign" class="input_line"/>
        </div>
        <div  class="input_line_box">
            <div  class="input_name_line">
                <div class="input_name_word">名</div>
            </div>
            <input id="given_name_sign" class="input_line"/>
        </div>
        <div  class="input_line_box">
            <div  class="input_name_line">
                <div class="input_name_word">性别</div>
                <div class="input_star_mark">*</div>
            </div>
            <div class="input_line">
                <input type="radio" value="1" class="radio_text_line" id="sign_male_radio" name="gender_radio"/>
                <div class="radio_dot_line">先生</div>
                <input type="radio" checked value="2" class="radio_text_line" id="sign_female_radio" name="gender_radio"/>
                <div class="radio_dot_line">女士</div>
            </div>
        </div>
    </div>
    <div class="login_button_box" id="sign_button_box" itemId="-1">立即报名</div>
    <div class="sign_button_comment" >团购规则<br/>
        1.报名填写手机号，会有客服人员跟您确认<br/>
        2.报名后满足达到成团条件，您即可享受团购服务<br/>
        3.分享他人下单成功，您可以获得立减100的优惠，优惠可以无限叠加
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function(){
        init();
    });
</script>
</body>
</html>
